body {
    font-family: Arial;
    font-size: 17px;
}

* {
    margin: 0px;
    padding: -5px;
    box-sizing: border-box;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px 10%;
    width: auto;
}

.column-2 {
    -ms-flex: 25%;
    flex: 25%;
}

.column-1 {
    -ms-flex: 50%;
    flex: 50%;
}

.column-2,
.column-1 {
    padding: 0px 10px;
    width: 100%;
    /* margin: 137px; */
}

.container {
    background-color: #f2f2f2;
    padding: 10px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 40%;
    box-shadow: 2px 2px 4px 4px black;
    margin-top: 20vh;
    margin-left: 30%;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.buy-btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 30%;
    border: none;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.buy-btn:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: white;
}

.header-text {
    min-height: 5vw;
    text-align: center;
}

.dropbtn {
    font-size: 1.3rem;
    color: white;
    padding: 6.5% 0px;
    background-color: black;
    font-family: inherit;
}

.nav-username {
    width: 20vw;
    border: none;
    outline: none;
    display: block;
    list-style-type: none;
    /* height: 70px; */
    overflow: hidden;
    background-color:inherit;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgb(21 182 162 / 58%);
    z-index: 1;
}

.dropdown-content a {
    float: left;
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.nav-username:hover .dropdown-content {
    display: block;
}