<!DOCTYPE html>
<html>

<head>
    {%load static%}
    <title>Checkout_page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'checkout_page.css' %}">
    <link rel="stylesheet" href="{%static 'premium_page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/57c5dcc0a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    <div class="row">
        <div class="column-1">
            <div class="container">
                <form method="POST" action="{%url 'gotoProduct' %}">
                    {%csrf_token%}
                    <div class="column-2">
                        <h3>Payment</h3>
                        <label for="acc_card">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Name on the Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="Cardname" required>
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="Cardnumber" required>
                        <label for="expmonth">Expiration Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="MM" required>
                        <div class="row">
                            <div class="column-2">
                                <label for="expyear">Expiration Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="YY" required>
                            </div>
                            <div class="column-2">
                                <label for="cvc">CVC</label>
                                <input type="text" id="cvv" name="cvv" placeholder="CVC" required>
                            </div>
                        </div>
                    </div>
            </div>
            <button type="submit" value="Buy Now" class="buy-btn" name="buy-btn"><a href="{%url 'product'%}">Buy Now</a></button>
            </form>
        </div>
    </div>
</body>

</html