<!DOCTYPE html>
<html lang="en">


<head>
   {% load static %}
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <title>EVOTECH</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

   <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <link rel="stylesheet" href="{% static 'responsive.css' %}">
   <link rel="stylesheet" href="{% static 'product_rev.css' %}">
   <link rel="icon" href="{% static 'fevicon.png' %}" type="image/gif" />
   <link rel="stylesheet" href="{% static 'jquery.mCustomScrollbar.min.css' %}">
   <link rel="stylesheet" href="{% static 'rev.css' %}">

   <script src="{% static 'jquery.min.js' %}"></script>
   <script src="{% static 'popper.min.js' %}"></script>
   <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'custom.js' %}"></script>
   <script src="{% static 'rev.js' %}"></script>

   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</head>

<body>

   {%if submitted %}
   Your review was submitted successfully
   {%else%}
   <form action="{% url 'review' %}" method="POST">
      {% csrf_token %}
      <center>
         <h1>Write your reviews here</h5>
            {{form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary"><br>
   </form>
   </center>
   {%endif%}
</body>

</html>